{% load tz %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>{{ object.key }}</title>
  </head>

  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Medium</th>
                <th scope="col">Format</th>
                <th scope="col">Tags</th>
                <th scope="col">Area</th>
                <th scope="col">Taken At</th>
              </tr>
            </thead>
            <tbody>
              {% for object in object_list %}
              <tr class="{% if object.has_animal %}bg-success{% endif %}">
                <td class="w-25">
                  {% if object.is_photo %}
                  <a href="{% url 'media:show_medium' object.id %}"
                    ><img
                      src="{{object.s3_object.generate_presigned_url}}"
                      class="img-fluid img-thumbnail"
                  /></a>
                  {% else %}
                  <a href="{% url 'media:show_medium' object.id %}"
                    ><img
                      src="{{object.video.thumbnail_s3_object.generate_presigned_url}}"
                      class="img-fluid img-thumbnail"
                  /></a>
                  {% endif %}
                </td>
                <td>{{ object.s3_object.format }}</td>
                <td>{{ object.tags.all|join:", " }}</td>
                <td>{{ object.camera.area.name }}</td>
                {% timezone object.camera.timezone %}
                <td>{{ object.taken_at }}</td>
                {% endtimezone %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <nav>
            <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
              <li class="page-item">
                <a
                  class="page-link"
                  href="?page={{ page_obj.previous_page_number }}&{{ url_params }}"
                  aria-label="Previous"
                >
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              {% endif %} {% for page in page_obj.paginator.page_range %}
              <li
                class="page-item {% if page_obj.number == page %}active{% endif %}"
              >
                <a class="page-link" href="?page={{ page }}&{{ url_params }}"
                  >{{page}}</a
                >
              </li>
              {% endfor %} {% if page_obj.has_next %}
              <li class="page-item">
                <a
                  class="page-link"
                  href="?page={{ page_obj.next_page_number }}&{{ url_params }}"
                  aria-label="Next"
                >
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script> -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
