{% load tz %} {% timezone camera.timezone %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>{{ medium.key }}</title>
  </head>

  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col">
          <h3>{{ medium.s3_object.key }}</h3>
          <h3>{{ area.name }}</h3>
          <h3>{{ camera.name }} - {{ camera.point }}</h3>
          <h3>{{ medium.taken_at|date:"m/d/Y G:i:s" }}</h3>
        </div>
      </div>
      <div class="row justify-content-center my-4">
        <div class="col">
          {% if medium.is_photo %}
          <img
            src="{{ medium.s3_object.generate_presigned_url }}"
            class="img-fluid"
          />
          {% else %}
          <div class="embed-responsive embed-responsive-16by9">
            <video
              width="320"
              height="240"
              poster="{{ medium.video.thumbnail_s3_object.generate_presigned_url }}"
              controls
            >
              <source
                src="{{ medium.s3_object.generate_presigned_url }}"
                type="video/mp4"
              />
            </video>
          </div>
          {% endif %}
        </div>
        <div class="col">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Confidence</th>
              </tr>
            </thead>
            <tbody>
              {% for tagged_medium in tagged_media %}
              <tr>
                <td>{{ tagged_medium.tag.name }}</td>
                <td>{{ tagged_medium.confidence|default_if_none:"-" }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% if medium.is_video %}
      <div class="row justify-content-center my-4">
        <div class="col">
          <img
            src="{{ medium.video.thumbnail_s3_object.generate_presigned_url }}"
            class="img-fluid"
          />
        </div>
      </div>
      {% endif %}
      <div class="row justify-content-center my-4">
        <div class="col">
          <form
            action="{% url 'media:create_tagged_medium' medium.id %}"
            method="post"
          >
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ create_tagged_media_form.tags.id_for_label }}"
                >Tag</label
              >
              {{ create_tagged_media_form.tags }}
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
        <div class="col">
          <form
            action="{% url 'media:update_medium_taken_at' medium.id %}"
            method="post"
          >
            {% csrf_token %}
            <div class="form-group">
              <label
                for="{{ update_medium_taken_at_form.taken_at.id_for_label }}"
                >Taken At</label
              >
              {{ update_medium_taken_at_form.taken_at }}
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </div>
      </div>
      <div class="row justify-content-center my-4"></div>
      <div class="row justify-content-center my-4">
        <div class="col">
          <hr />
          <form
            action="{% url 'media:delete_medium' medium.id %}"
            method="post"
          >
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script> -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
{% endtimezone %}
